<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.projettic"/>


<!--    SpringMVC configuration-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:resources mapping="/css/" location="WEB-INF/static/css/**" />
    <mvc:resources mapping="/images/" location="WEB-INF/static/images/**" />
    <mvc:resources mapping="/js/" location="WEB-INF/static/js/**" />

    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>


    <!-- 配置dao层 -->
    <bean name="jdbcDao" class="com.projettic.dao.impl.EmpDaoImpl">
        <property name="strUrl" value="jdbc:mysql://localhost:3306/testtic?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC"></property>
        <property name="strUsername" value="root"></property>
        <property name="strPW" value="123456"></property>
    </bean>

    <bean name="service" class="com.projettic.service.impl.EmpServiceImpl">
        <property name="empDao" ref="jdbcDao"></property>
    </bean>

</beans>
